@import "../../../Style/index";

.dialog-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  padding: 16px;

  .dialog {
    background-color: #fff;
    padding: 2px 20px;
    border-radius: 8px;
    min-width: 300px;
    width: auto;

    .title {
      padding-top: 16px;
      color: #2d3843;
      font-size: 1.875rem;
      font-weight: bold;
    }

    .content {
      padding: 16px 0;

      .logo {
        width: 50px;
        height: 50px;
        background-color: #fff;
        margin-right: 8px;

        .icon {
          width: 50px;
          height: 50px;
        }
      }

      label {
        font-size: 1.25rem;
        color: #2d3843;
        font-weight: 500;
      }
    }

    .footer {
      padding-bottom: 16px;
      justify-content: space-between;

      .button {
        flex: 1;
        margin: 0 4px;
        width: max-content;
        // max-width: 33%;
        border-radius: 50px;

        button {
          font-family: primaryFont;
          border-radius: 50px;
        }
      }
    }
  }

  .message-dialog {
    // Add custom style for message dialog
  }

  .confirm-dialog {
    // Add custom style for confirm dialog
  }

  // add ovrride style for dialog
  .override {
    // override confirm style for Home page
    .home-confirm-ok {
      background: green;
      color: #fff;
    }
  }
}
