// color content
$body-bg: #0f0f0f;
$main-color: #ff0000;
$txt-color: #555;
$white: #fff;
$black: #000;
$sideBar-color: #673AB7;
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$linear-gradient: linear-gradient(45deg, #8e24aa, #ff6e40);
$bg-color_gray: #f1f4f8;
$shadow-header: 0 6px 20px 0;
$color-shadow-header: #ff6e4280;
$bg-color-light: #f9fafb;
// width height content
$width-sidebar: 20rem;
$height-header: 100px;
$mobile-width: 600px;
$tablet-width: 1024px;


// z-index content
$z-index_header: 1000;
$z-index_sidebar: 900;

// box padding
$computed_xxl: 30px;
$computed_xl: 20px;
$computed_l: 15px;
$computed_m: 10px;
$computed_s: 5px;

// font size 
$font-size_xxl: 30px;
$font-size_xl: 20px;
$font-size_l: 15px;
$font-size_m: 10px;
$font-size_s: 5px;


// border radius
$border-radius_xxl: 30px;
$border-radius_xl: 20px;
$border-radius_l: 15px;
$border-radius_m: 10px;
$border-radius_s: 5px;


$font-family: "Montserrat", sans-serif;